.circle {
  padding: min(50%);
  max-height: 100%;

  &__outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1vh solid #000000;
    background-color: #ffffff;
  }

  &__inner {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1vh solid #ffffff;
    box-shadow: 0 0 0 6px #1d3557;
  }
}