#circle {
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  border: 1vh solid #000000;
  background-color: #ffffff;
}

.chart {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90vh;
  width: 90vh;
  border-radius: 50%;
  border: 1vh solid #ffffff;
  box-shadow: 0 0 0 6px #1d3557;
}