.nav-bar {
  min-height: 50px;

  .menu {
    -webkit-align-items: baseline;

    .item-box {
      -webkit-align-self: center;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
