.nav-bar {
  .menu {
    -webkit-align-items: baseline;

    .item-box {
      -webkit-align-self: center;
      -ms-overflow-style: none;
      scrollbar-width: none;
      top: 50%;
      transform: translateY(-50%);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
