@import "../../shared";

#header-container {
  .center {
    @include absolute-transform-center;
  }

  .header {
    &__bg {
      @include fix-100vh-in-mobile-WebKit;
      -webkit-transform: translatez(0);
      background-image: url("https://i.imgur.com/HYkm7B6.webp");
      filter: blur(5px);
    }
  }
}
